<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The users</title>
</head>
<body>
    <h1 style="color: darkgray;">The users are no more</h1>
    <ul>Xayrulloh</ul>
    <ul>Abror</ul>
    <ul>Toxir</ul>
    <ul>Umid</ul>
    <ul>Abdugani</ul>
    <ul>Burxon</ul>
    <ul>Ziynatulloh</ul>
    <ul>Fayzulloh</ul>
    <ul>Ahror</ul>
    <h2 style="color: darkgray;">That's all</h2>
</body>
</html>